header {
  background-color: #9d0a0a;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
}

body {
  margin: 0; /* body의 기본 마진 초기화 */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 8px 0; /* 수정: 상하 여백을 줄임 */
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  margin: 10px;
}

.textcenter {
  text-align: center;
}

button.footerbutton {
  height: 6em; /* 수정: 버튼 높이를 줄임 */
  width: 15em; /* 수정: 버튼 너비를 줄임 */
  border: none;
  border-radius: 30px; /* 수정: 테두리 반경을 조정 */
  background-color: #fff;
  cursor: pointer;
  overflow: hidden; /* 추가: 내부 요소의 넘치는 부분을 감춤 */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

button.footerbutton span {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 3.8em; /* 수정: 쉐어 박스의 높이를 줄임 */
  width: 10em; /* 수정: 쉐어 박스의 너비를 줄임 */
  border-radius: 20px; /* 수정: 테두리 반경을 조정 */
  color: #fff;
  line-height: 1; /* 수정: 라인 높이를 조정 */
  font-size: 19px; /* 수정: 폰트 크기를 줄임 */
  letter-spacing: 4px; /* 수정: 글자 간격을 조정 */
  transition: all 0.5s;
}

button.footerbutton .container {
  z-index: -1;
  width: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

button.footerbutton .container svg {
  padding: 0 8px; /* 수정: 아이콘과 텍스트 사이 간격을 조정 */
}

button.footerbutton:hover span {
  width: 0;
}
button.footerbutton:hover .container {
  z-index: 2;
  width: 100%;
}
.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* 화면 전체 높이 사용 */
  text-align: center;
}

button.introbutton {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

button.introbutton svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button.introbutton span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button.introbutton:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button.introbutton:hover span {
  transform: translateX(7px);
}

a {
  text-decoration-line: none;
/*   text-decoration-line: underline; */
/*   text-decoration-line: overline; */
/*   text-decoration-line: line-through; */
/*   text-decoration-line: underline line-through overline; */
}